* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* Cores */
    --logo-icon: #305F72;
    --logo-text: #D4AF37;
    --background: #FAFAF9;
    --title-text: #1F1F1F;
    --body-text: #333333;
    --button-bg: #305F72;
    --button-text: #FFFFFF;
    --link-color: #305F72;
    --border-color: #E0E0E0;

    --hover-logo-icon: #3C6F88;
    --hover-logo-text: #E0C45A;
    --hover-button-bg: #3C6F88;
    --hover-link-color: #3C6F88;
    --hover-border-color: #CFCFCF;

/* Fonts */
    --font-logo: "Cormorant Garamond", serif;
    --font-texto: "Merriweather", serif;
}

.tema-escuro {
    --logo-icon: #B4D4E3;
    --logo-text: #EEDC8A;
    --background: #1C1C1E;
    --title-text: #FFFFFF;
    --body-text: #CCCCCC;
    --button-bg: #D4AF37;
    --button-text: #1C1C1E;
    --link-color: #B4D4E3;
    --border-color: #333333;

    --hover-logo-icon: #CBE6F2;
    --hover-logo-text: #F2E7A6;
    --hover-button-bg: #E0C45A;
    --hover-link-color: #CBE6F2;
    --hover-border-color: #444444;
}

body {
    background-color: var(--background);
    color: var(--body-text);
    transition: background-color 0.3s ease, color 0.3s ease;
    max-width: 100%;
    overflow-x: hidden;
    font-family: var(--font-texto);
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--hover-link-color);
    text-decoration: underline;
}

h1,
h2,
h3 {
    font-family: var(--font-texto);
    font-weight: var(--peso-bold);
}

p,
li,
span {
    font-family: var(--font-texto);
    font-weight: var(--peso-normal);
}

button,
.cta {
    font-family: var(--font-texto);
    font-weight: var(--peso-medium);
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

/* Header */

header {
    width: 100%;
    border-bottom: 1px solid var(--link-color);
    background-color: var(--background);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container {
    max-width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    height: 80px;
    align-items: center;
    gap: 0.2rem;
}

.logo-img {
    position: relative;
    top: -4px;
    width: 35px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.logo-text {
    color: var(--logo-text);
    font-family: var(--font-logo);
    font-weight: bold;
}

/* Logo padrão (tema claro) */
.logo-img {
    background-image: url('../imgs/icone-claro.png')
}

/* Quando estiver no tema escuro */
.tema-escuro .logo-img {
    background-image: url('../imgs/icone-escuro.png');
}

.main-nav {
    display: flex;
    align-items: center;
}

#nav-ul {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    margin: 0.5rem;
}

#nav-ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    padding: 0.5rem;
    border-radius: 8px;
    transition: background 0.5s ease;
}

#nav-ul li:hover {
    background-color: var(--button-bg);
}

#nav-btn-mobile {
    display: none;
}

#toggle-theme {
    background-color: var(--button-bg);
    color: var(--button-text);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#toggle-theme:hover {
    background-color: var(--hover-button-bg);
}

main {
    height: auto;
    max-width: 100%;
    background-color: var(--background);
}

.hero-container {
    width: 100%;
    height: 400px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-carrossel {
    height: 100%;
    width: 80%;
    max-width: 800px;
    background-color: var(--link-color);
    position: relative;
}

.slide {
    display: none;
}

.slide.ativo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 80%;
    height: 100%;
    color: #1E1E1E;
    background-color: var(--link-color);
    font-size: 2rem;
}

.indicadores {
    position: absolute;
    top: 425px;
    margin: 0 auto;
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.indicadores button {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background-color: var(--background);
    cursor: pointer;
    transition: background-color 0.3s;
}

.indicadores button:hover {
    background-color: var(--hover-button-bg);
}

.indicadores button.ativo {
    background-color: var(--button-bg);
}

.indicadores button.ativo:hover {
    background-color: var(--hover-button-bg);
}

footer {
    background-color: var(--background);
    color: var(--body-text);
    border-top: 1px solid var(--link-color);
    font-family: var(--font-texto);
    width: 100%;
    z-index: 9999;
    padding-block: 1rem 3rem;
}

.footer-container {
    height: auto;
    max-width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo img {
    height: 40px;
}

.footer-links,
.footer-contatos {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer-links a,
.footer-contatos a {
    color: var(--link-color);
    font-weight: var(--peso-medium);
}

.footer-links a:hover,
.footer-contatos a:hover {
    color: var(--hover-link-color);
}

.footer-copy {
    font-size: 0.875rem;
    color: var(--body-text);
    opacity: 0.6;
    max-width: 15%;
}

@media (max-width: 768px) {
    .header-container {
        max-width: 100%;
        padding: 1rem;
    }

    .nav-actions {
        display: flex;
        gap: 2rem;
    }

    #nav-ul {
        height: 100%;
        display: none;
        flex-direction: column;
        position: fixed;
        top: 80px;
        right: 0;
        width: 30%;
        background-color: var(--background);
        border: 1px solid var(--link-color);
        gap: 1rem;
    }

    #nav-ul.ativo {
        display: flex;
    }

    #nav-ul li {
        width: 100%;
        height: 3rem;
    }

    #nav-ul li:hover {
        background-color: var(--button-bg);
    }

    #nav-btn-mobile {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--link-color);
    }

    #nav-btn-mobile:hover {
        color: var(--hover-link-color);
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
    }

    .footer-copy {
        text-align: center;
        max-width: 100%;
    }
}